<div style="width: 100%; padding: 0px 10px">
	<div style="margin: 10px 0px;">
		<button type="button" class="btn btn-primary" (click)="enqueue()">Enqueue</button>
		<button type="button" class="btn btn-success" (click)="refresh()">Refresh</button>
	</div>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Template</th>
					<th>Status</th>
					<th>Start Time</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				</tr>-->
			</tbody>
		</table>
	</div>
</div>