<div style="width: 100%; padding: 0px 10px">
	<div style="margin: 10px 0px;">
		<button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
		<button type="button" class="btn btn-success" (click)="refresh()" *ngIf="task">Refresh</button>
	</div>
	<div *ngIf="task">
		<div style="width: 60%;">
			<div class="panel" [ngClass]="{'panel-success': task.status=='FINISHED'}">
				<div class="panel-heading">
					<h3 class="panel-title">Status: {{task.status}}</h3>
				</div>
				<div class="panel-body">
					<pre>{{task.result.stdout}}</pre>
				</div>
				<table class="table table-bordered">
					<tr>
						<td>ID</td>
						<td>{{task.id}}</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>{{task.name}}</td>
					</tr>
					<tr>
						<td>Created Time</td>
						<td>{{task.time.created}}</td>
					</tr>
					<tr>
						<td>Started Time</td>
						<td>{{task.time.started}}</td>
					</tr>
					<tr>
						<td>Finished Time</td>
						<td>{{task.time.finished}}</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	<div *ngIf="!task">
		<div class="alert alert-danger" role="alert">The task you want does not exist.</div>
	</div>
</div>