.navbar {
    overflow: hidden;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    box-shadow: 0 0.05rem 0.25rem 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow-x: auto;
    display: flex;
    align-items: stretch;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.navbar > .logo {
    margin-left: 1rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 560px) {
    .navbar > .logo {
        display: none;
    }
}

.navbar label {
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar .item {
    margin: 0 0.5rem;
    display: flex;
    align-items: stretch;
}

.navbar a {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a.active {
    background: #ddd;
    color: black;
}