<div class="navbar">
    <div class="logo">
        <img src="assets/favicon.svg" width="30rem" style="margin-right: 0.5rem;">
        <label>Zimfarm</label>
    </div>
    <div class="item">
        <a routerLink="/schedules" routerLinkActive="active">Schedules</a>
    </div>
    <div class="item">
        <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
    </div>
    <div style="flex: 1;"></div>
    <div class="item">
        <a routerLink="/user" routerLinkActive="active">User</a>
    </div>
</div>