[Unit]
Description=uWSGI server instance configured to serve myproject

[Service]
Type=forking
User=chrisli
Group=www-data
Environment=PATH=/home/chrisli/Developer/zimfarm/venv/bin
WorkingDirectory=/home/chrisli/Developer/zimfarm
ExecStart=uwsgi --ini zimfarm.ini