.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

.space {
    flex: 1;
}

.content {
    width: 25rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.05rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;

    display: flex;
    flex-direction: column;
}

.content .heading {
    display: flex;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
}

.content form > .form-group {
    margin: 1rem 0;
}

.content form > .form-group > label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    display: inline-block;
}

.content form > .form-group-horizontal {
    margin: 1rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.content form > .form-group-horizontal > label {
    font-size: 1rem;
    color: #d85452;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type=submit] {
    background-color: #28a745;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    font-size: 1rem;
}

input[type=submit]:disabled {
    opacity: .65;
    cursor: not-allowed;
}

.ng-invalid:not(form).ng-touched:not(form)  {
    border-left: 5px solid #d85452;
}