services:
  postgresdb:
    image: postgres:15.2-bullseye
    container_name: zf_postgresdb
    ports:
      - 5432:5432
    volumes:
      - pg_data_zimfarm:/var/lib/postgresql/data
      - ./postgres-initdb:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=zimfarm
      - POSTGRES_USER=zimfarm
      - POSTGRES_PASSWORD=zimpass
  backend:
    build: ../dispatcher/backend
    container_name: zf_backend
    command: python main.py
    volumes:
      - ../dispatcher/backend/src:/app
      - ../dispatcher/backend/docs:/app/docs
    ports:
      - 8000:8000
    environment:
      BINDING_HOST: 0.0.0.0
      DEBUG: 1
      JWT_SECRET: DH8kSxcflUVfNRdkEiJJCn2dOOKI3qfw
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@postgresdb:5432/zimfarm
    depends_on:
      - postgresdb
  frontend-ui:
    build: ../dispatcher/frontend-ui
    container_name: zf_frontend-ui
    volumes:
      - ../dispatcher/frontend-ui/src:/app
    ports:
      - 8001:80
    environment:
      ZIMFARM_WEBAPI: http://localhost:8000/v1
    depends_on:
      - backend
  backend-tools:
    build:
      dockerfile: ../../dev/backend-tools-tests/Dockerfile
      context: ../dispatcher/backend
    container_name: zf_backend-tools
    command: tail -f /dev/null
    volumes:
      - ../dispatcher/backend/src:/app
    environment:
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@postgresdb:5432/zimfarm
    depends_on:
      - postgresdb
  backend-tests:
    build:
      dockerfile: ../../dev/backend-tools-tests/Dockerfile
      context: ../dispatcher/backend
    container_name: zf_backend-tests
    command: tail -f /dev/null
    volumes:
      - ../dispatcher/backend/src:/app
    environment:
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@postgresdb:5432/zimtest
    depends_on:
      - postgresdb

volumes:
  pg_data_zimfarm:
