.dashboard-container {
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
    padding: 0.25rem;
}

.dashboard-widget {
    margin: 0.25rem;
}

.dashboard-left {
    flex-direction: column;
    display: flex;
}

.dashboard-right {
    flex-direction: column;
    display: flex;
}

/*smaller than 48rem*/
@media screen and (max-width: 48rem) {
    .dashboard-container {
        flex-direction: column;
    }
}
/*larger than 48rem*/
@media screen and (min-width: 48rem) {
    .dashboard-container {
        flex-direction: row;
    }

    .dashboard-left {
        width: 70%;
        height: 100%;
        float: left;
    }

    .dashboard-right {
        width: 30%;
        height: 100%;
        float: left;
    }
}