<!--<div class="content">
    <div style="width: 100%; display: inline-block;">
        <div class="card dashboard-card" *ngFor="let card of cards" >
            <div class="card-block">
                <h5 class="card-title">{{card.title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <dashboard-task-progress></dashboard-task-progress>
            </div>
        </div>
    </div>
</div>-->
dashboard c