.schedule {
    display: flex;
    align-items: flex-start;
    
}

/* narrower than 768px */
@media only screen and (max-width: 768px) {
    .schedule {
        flex-direction: column;
        align-items: stretch;
    }
}

.detail {
    flex: 1;
}

.task-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

/* wider than 768px */
@media only screen and (min-width: 768px) {
    .task-list {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        border-left: 1px solid #000000;
    }
}