<div class="schedule-overview" *ngIf="schedule$ | async as schedule">
    <h1 class="mat-1">Schedule: {{schedule.name}}</h1>
    <label><i class="fas fa-language"></i> {{schedule.language.name_en}}</label>
</div>
<mat-divider></mat-divider>
<div class="schedule-detail" *ngIf="schedule$ | async as schedule">
    <div class="card-container">
        <mat-card>
            <div class="header">
                <h2 class="mat-h2"><i class="fab fa-docker"></i> Docker Configuration</h2>
                <button mat-button disabled>Edit</button>
            </div>
            <mat-divider></mat-divider>
            <form [formGroup]="imageForm">
                <div class="form-group inline">
                    <mat-form-field appearance="standard" floatLabel="always">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="standard" floatLabel="always">
                        <mat-label>Tag</mat-label>
                        <input matInput formControlName="tag">
                    </mat-form-field>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <div class="header">
                <h2 class="mat-h2">Offliner Configuration</h2>
                <button mat-button disabled>Edit</button>
            </div>
            <mat-divider></mat-divider>
            <form [formGroup]="offlinerFlagsForm">
                <div class="form-group row">
                    <ng-container *ngFor="let flag of offlinerFlags">
                        <label>{{flag.key}}</label>
                        <input type="url" [formControlName]="flag.key" required readonly>
                    </ng-container>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <div class="header">
                <h2 class="mat-h2">Admin Configuration</h2>
                <button mat-button disabled>Edit</button>
            </div>
            <mat-divider></mat-divider>
            <div>stuff like queue, warehouse upload path goes here.</div>
        </mat-card>
    </div>
</div>