.container {
    display: flex;
    flex-direction: column;
    
    padding: 0.5rem 1rem;
}

.section {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.title {
    max-width: 60rem;;
    padding: 0.5rem 0.5rem;
    padding-top: 1rem;
    border-bottom: 1.5px solid #eeeeee;
}

.content {
    padding: 0.5rem;
}

.item {
    display: flex;
    align-content: stretch;
}

.item .name {
    flex: 1;
}

.item .value {
    flex: 2;
}