@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

button.success {
    background-color: #28a745;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    font-size: 1rem;
}

button.success:active {

}

.root {
    margin-top: 54px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

.h1 {
    font-size: 1.5rem;
}

.h2 {
    font-size: 1.2rem;
}

.h3 {
    font-size: 1rem;
}

.h4 {
    font-size: 0.8rem;
}

.semi-bold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}