<div class='task-detail-container' *ngIf="task$ | async as task">
    <mat-card>
        <mat-card-title>{{task.status}}</mat-card-title>
        <mat-card-subtitle>{{task._id}}</mat-card-subtitle>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let event of task.events" [expanded]="event.code == 'failed'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{event.code}}
                </mat-panel-title>
                <mat-panel-description>
                    {{event.timestamp | date:'MMM d, h:mm:ss a':'UTC'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <label *ngIf="event.hostname">{{event.hostname}}</label>

            <div *ngIf="event.command">
                <label>Command</label>
                <div class="preformatted">
                    <pre class="word-wrap">{{event.command}}</pre>
                </div>
            </div>
            <div *ngIf="event.stderr">
                <label>Stderr</label>
                <button>Copy to Clipboard</button>
                <div class="preformatted">
                    <pre>{{event.stderr}}</pre>
                </div>
            </div>
            <div *ngIf="event.traceback">
                <div class="preformatted">
                    <pre>{{event.traceback}}</pre>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>