<div *ngIf="task$ | async as task">
    <mat-card>
        <mat-card-title>{{task.status}}</mat-card-title>
        <mat-card-subtitle>{{task.schedule.name}} | #{{task._id | slice:-5}}</mat-card-subtitle>
    </mat-card>
    <mat-tab-group [animationDuration]="0" [disableRipple]="true">
        <mat-tab label="Overview">
            <div class="overview">
                <mat-list>
                    <h3 mat-subheader>ID</h3>
                    <mat-list-item>
                        <i class="far fa-id-badge" mat-list-icon></i>
                        <p mat-line>{{task._id}}</p>
                    </mat-list-item>
                    <h3 mat-subheader>Schedule</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>schedule</mat-icon>
                        <p mat-line>{{task.schedule.name}}</p>
                    </mat-list-item>
                    <h3 mat-subheader *ngIf="task.files">Files</h3>
                    <mat-list-item *ngFor="let file of task.files">
                        <mat-icon mat-list-icon>description</mat-icon>
                        <h4 mat-line>{{file.name}}</h4>
                        <p mat-line>{{file.size | fileSize}}</p>
                    </mat-list-item>
                    <h3 mat-subheader>Worker</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>developer_board</mat-icon>
                        <p mat-line>{{task.hostname}}</p>
                    </mat-list-item>
                </mat-list>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-list>
                    <h3 mat-subheader>Events</h3>
                    <mat-list-item *ngFor="let event of task.events">
                        <mat-icon mat-list-icon>note</mat-icon>
                        <h4 mat-line>{{event.code}}</h4>
                        <p mat-line>{{event.timestamp | date:'MMM d, h:mm:ss a':'UTC'}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Container" *ngIf="task.container">
            <div class="container">
                <mat-list>
                    <h3 mat-subheader *ngIf="task.container.image">Image</h3>
                    <mat-list-item class="preformatted" *ngIf="task.container.image">
                        <div mat-line><pre>{{task.container.image.name}}:{{task.container.image.tag}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader *ngIf="task.container.command">Command</h3>
                    <mat-list-item class="preformatted" *ngIf="task.container.command">
                        <div mat-line><pre>{{task.container.command}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader>Standard Error</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line>
                            <pre *ngIf="task.container.stderr;else none">{{task.container.stderr}}</pre>
                            <ng-template #none><pre>None</pre></ng-template>
                        </div>
                    </mat-list-item>
                    <h3 mat-subheader>Standard Output</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line>
                            <pre *ngIf="task.container.stdout;else none">{{task.container.stdout}}</pre>
                            <ng-template #none><pre>None</pre></ng-template>
                        </div>
                    </mat-list-item>
                    <h3 mat-subheader>Exit Code</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line><pre>{{task.container.exit_code}}</pre></div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Debug">
            <div class="debug">
                <mat-list>
                    <h3 mat-subheader>Task name</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line><pre>{{task.debug.task_name}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader>Task args</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line><pre>{{task.debug.task_args | json}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader>Task kwargs</h3>
                    <mat-list-item class="preformatted">
                        <div mat-line><pre>{{task.debug.task_kwargs | json}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader *ngIf="task.debug.exception">Exception</h3>
                    <mat-list-item class="preformatted" *ngIf="task.debug.exception">
                        <div mat-line><pre>{{task.debug.exception}}</pre></div>
                    </mat-list-item>
                    <h3 mat-subheader *ngIf="task.debug.traceback">Traceback</h3>
                    <mat-list-item class="preformatted" *ngIf="task.debug.traceback">
                        <div mat-line><pre>{{task.debug.traceback}}</pre></div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
