<div class="add-task-container">
    <div class="add-task-header">
        <h4 class="add-task-title">Add Task</h4>
    </div>
    <div class="add-task-header" style="overflow: auto;">
        <div style="display: flex;">
            <div class="add-task-nav-placeholder"></div>
            <ul class="nav nav-tabs" style="width: 49rem; ">
                 <li class="nav-item" *ngFor="let name of tabNames">
					<a class="nav-link" [class.active]="activaTabName==name" (click)="didSelectTab(name)">{{name}}</a>
				</li> 
            </ul>
            <div class="add-task-nav-placeholder"></div>
        </div>
    </div>
    <div class="add-task-body">
        <div class="add-task-content">
            <div *ngIf="activaTabName=='mwoffliner'"><mwoffliner></mwoffliner></div>
            <div *ngIf="activaTabName=='sotoki'">{{activaTabName}} -- under construction...</div>
            <div *ngIf="activaTabName=='youtube'">{{activaTabName}} -- under construction...</div>
            <div *ngIf="activaTabName=='gutenberg'">{{activaTabName}} -- under construction...</div>
            <div *ngIf="activaTabName=='phet'">{{activaTabName}} -- under construction...</div>
            <div *ngIf="activaTabName=='wikihow'">{{activaTabName}} -- under construction...</div>
            <div *ngIf="activaTabName=='ted'">{{activaTabName}} -- under construction...</div>
            <div class="add-task-divider"></div>
            <div class="add-task-button-block">
                <button type="button" class="btn btn-success add-task-button">Add</button>
                <button type="button" class="btn btn-secondary add-task-button" routerLink="..">Cancel</button>
            </div>
        </div>
    </div>
</div>