.add-task-container {
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
}

.add-task-header {
    background-color: #FbFbFb;
}

.add-task-title {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
}

.add-task-nav-placeholder {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-width: 0.5rem;
    flex: 1;
}

.add-task-body {
    width: 100%; 
    flex: 1;
    overflow: auto;
}

.add-task-content {
    min-width: 20rem;
    max-width: 50rem; 
    margin: 0rem auto;
}

.add-task-divider {
    height: 1px; 
    background-color: #bcbebf;
    margin: 0rem 0.5rem;
}

.add-task-button-block {
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: row-reverse;
}

.add-task-button {
    margin: 0rem 0.5rem;
}
