<div class="container">
    <div class="content nav-menu">
        <div class="item title">{{name}}</div>
        <div class="item">
            <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="indicator"></div>
                <span>Overview</span>
            </a>
        </div>
        <div class="item">
            <a routerLink="beat" routerLinkActive="active">
                <div class="indicator"></div>
                <span>Beat</span>
            </a>
        </div>
        <div class="item">
            <a routerLink="offliner" routerLinkActive="active">
                <div class="indicator"></div>
                <span>Offliner</span>
            </a>
        </div>
        <div class="item">
            <a routerLink="task" routerLinkActive="active">
                <div class="indicator"></div>
                <span>Task</span>
            </a>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>