mat-sidenav-container {
    width: 100%; 
    min-height: calc(100vh); 
}

mat-sidenav-content {
    margin-top: 54px;
}

mat-sidenav {
    width: 300px;
}

div.sidenav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    mat-sidenav {
        width: 600px;
    }

    div.sidenav-container {
        flex-direction: row;
    }

    div.sidenav-container > form {
        flex: 1;
    }
}

div.search {
    height: 3rem;
    background-color: #eceff1;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
}

div.search > mat-form-field {
    flex: 1;
    margin-left: 1rem;
}

div.search > mat-form-field:last-child {
    margin-right: 1rem;
}

div.search input {
    font-size: 1rem;
}

div.banner {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 0.25rem;
    background-color: #eceff1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.banner > label {
    font-weight: 500;
}

div.pannel {
    padding: 0.5rem 1rem;
}

div.choices {
    display: flex;
    flex-direction: column;
}

cdk-virtual-scroll-viewport {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}