mat-sidenav-container {
    width: 100%; 
    min-height: calc(100vh); 
}

mat-sidenav {
    width: 300px;
    display: flex;
    flex-direction: column;
}

mat-sidenav-content {
    margin-top: 54px;
}

div.filter {
    height: 54px;
    background-color: #ECEFF1;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
}

div.filter form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.filter .form-group {
    display: flex;
    align-items: center;
}

div.filter mat-form-field {
    padding-left: 1rem;
    flex: 1;
}

div.filter mat-form-field:last-child {
    padding-right: 1rem;
}

div.filter input, div.filter i {
    font-size: 1rem;
}

mat-sidenav div.list {
    display: flex;
    flex-direction:column;
    overflow-y: scroll;
    height: calc(100vh - 108px);
}

mat-sidenav schedule-list-item:hover {
    background-color: #ECEFF1;
}