.container {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 54px);
}

/* when narrower than 1024px, put filter on top of list */
@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
}

.filter {
    flex: 3;
    max-width: 20rem;
}

/* schedule list */

.list {
    display: flex;
    flex: 7;
    flex-direction: column;
}

/* when wider than 1024px, show divider on the left of list */
@media only screen and (min-width: 1024px) {
    .list {
        border-left: #c4c4c4 solid 1px;
    }
}

/* column widths */

.name {
    flex: 3;
}

.language {
    flex: 1;
}

.category {
    flex: 1;
}

.beat {
    flex: 1;
}

/* schedule list & cell */

.schedules {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    list-style-type: none;
    min-height: fit-content;
}

.schedule:nth-child(odd) {
    background-color: #fbfbfb;
}

.schedule:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule:hover {
    background-color: #e2e2e2;
}

.schedule .detail {
    padding-left: 1.7rem;
    padding-right: 0.5rem;
}

.schedule.selected > :not(.expanded) {
    background-color: #e4e4e4;
}

.schedule.selected > .expanded {
    background-color: #ffffff;
}

/* list mode */
@media only screen and (max-width: 768px) {
    .schedule > .row {
        display: none;
    }

    .list > .header {
        display: none;
    }

    .schedule > .card > .title {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
    }

    .schedule > .card > .detail {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }
}

/* table mode */
@media only screen and (min-width: 768px) {
    .schedule > .card {
        display: none;
    }

    /* header */
    .list > .header {
        display: flex;
        align-items: baseline;
        list-style-type: none;
        padding: 0.75rem 0.5rem;
        margin: 0;
        background-color: #ebebeb;
        border-bottom: #dddddd solid 2px;
    }
    
    .list > .header li {
        display: flex;
        justify-content: center;
    }

    /* rows */
    .schedule > .row {
        display: flex;
        align-items: center;
        padding: 0.75rem 0.5rem;
        cursor: pointer;
    }

    .schedule > .row > div:not(.name) {
        display: flex;
        justify-content: center;
    }
    
    .schedule > .row > div.name {
        display: flex;
        align-items: center;
    }
}

/* indicator */
.circle {
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    border-width: 1px;
    border-style: solid;
    margin-right: 0.5rem;
    background: #bbbbbb;
    border-color: #999999;
    float: left;
}

.circle.enabled {
    background: #28a745;
    border-color: #1e7b34;
}