.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* wider than 768px */
@media only screen and (min-width: 768px) {
}

/* narrower than 768px */
@media only screen and (max-width: 768px) {
}

.schedule-list {
    display: flex;
    flex-direction: column;
}

.schedules {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    min-height: fit-content;
    background-color: #fbfbfb;
}

.schedule:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule:hover {
    background-color: #e2e2e2;
}

.schedule > .title {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    /* background-color: #eeeeee; */
}

.schedule:hover > .title, .schedule.selected > .title {
    /* background-color: #e6e6e6; */
}

.schedule > .attributes {
    padding-top: 0.25rem;
    padding-left: 1.7rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    /* background-color: #fdfdfd; */
}

.schedule:hover > .attributes, .schedule.selected > .attributes {
    /* background-color: #f6f6f6; */
}

.circle {
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    border-width: 1px;
    border-style: solid;
    margin-right: 0.5rem;
    background: #bbbbbb;
    border-color: #999999;
    float: left;
}

.circle.enabled {
    background: #28a745;
    border-color: #1e7b34;
}