<div class="container">
    <div class="schedule-list">
        <ul class="schedules">
            <li class="schedule" 
                *ngFor="let schedule of schedules" 
                [class.selected]="schedule === selectedSchedule"
                (click)="onSelect(schedule)">
                <div class="title">
                    <div class="circle" [class.enabled]="schedule.enabled"></div>
                    <div>{{schedule.name}}</div>
                </div>
                <div class="attributes h4">
                    <div>{{schedule.language}}</div>
                    <div>Last run: {{schedule.last_run | timeAgo}}</div>
                    <div>Schedule: {{schedule.beat.description()}}</div>
                </div>
                <div *ngIf="isSelected(schedule)"><router-outlet></router-outlet></div>
            </li>
        </ul>
    </div>
</div>