.container {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.schedule-filter {
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 8rem;
    max-width: 15rem;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.schedule-detail {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.content {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.content:first-child {
    margin-top: 0.5rem;
}

.content:last-child {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}

.toolbar {
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0.25rem;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.page-item {
    border-right: 1px solid #dddddd;
    display: list-item;
}

.page-item:hover {
    background-color: #eeeeee;
}

.page-item:active {
    background-color: #e9ecef;
}

.page-item:last-child {
    border-right: 0px;
}

.page-item > button {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    color: #007bff;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead > tr {
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

tbody > tr {
    border-bottom: 1px solid #dddddd;
}

tbody > tr:hover {
    background-color: #f8f8f8;
}

td, th {
    text-align: center;
    padding: 1rem;
}

td.name  .circle {
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    border-radius: 0.15rem;
    border-width: 1px;
    border-style: solid;
    margin-right: 0.5rem;
    background: #bbbbbb;
    border-color: #999999;
    float: left;
}

td.name .enabled {
    background: #28a745;
    border-color: #1e7b34;
}

td.name a {
    color: #1B6CD0;
    font-weight: 500;
    text-decoration: none;
}

td.name a:hover {
    text-decoration: underline;
}

td.run_every {
    text-align: left;
    min-width: 10rem;
}