<div style="width: 100%; padding: 0px 10px">
	<div>
		<div><h4>Running</h4></div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Template</th>
					<th>Status</th>
					<th>Start Time</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div>
		<div><h4>Scheduled</h4></div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Template</th>
					<th>Status</th>
					<th>Execution Time</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div>
		<div><h4>Finished</h4></div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Template</th>
					<th>Status</th>
					<th>Finish Time</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				</tr>-->
			</tbody>
		</table>
	</div>
</div>