<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Zimfarm</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li *ngFor="let tab of tabs" routerLinkActive="active">
				<a class="nav-link" routerLink="/{{tab.routerLink}}">{{tab.name}}</a>
			</li>
		</ul>
	</div>
</nav>