.list-task-container {
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
}

.list-task-right-container {
    min-width: 30rem;
    max-width: 75rem; 
    margin: 0 auto;
    padding: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column; 
}

.list-task-toolbar {
    min-height: 46px;
    display: flex;
}

.list-task-toolbar-item {
    margin: 0.25rem;
    max-width: 25rem;
}

.list-task-toolbar-placeholder {
    flex: 1;
}

.list-task-table-container {
    flex: 1;
    padding: 0rem 0.25rem;
    display: flex;
    flex-direction: column; 
}

.list-tasks-table {
    margin: 0;
}

.list-tasks-table-empty {
    background-color: #f9f9f9; 
    flex: 1; 
    border: 1px solid rgb(236, 238, 239);
    border-top: 0px;
    display: flex;
    flex-direction: column; 
    overflow: auto;
}
