#!/bin/bash

# set to "y" if you need sudo for docker command
SUDO_DOCKER=
# zimfarm username
ZIMFARM_USERNAME="myusername"
# worker name (different than username, you choose this)
ZIMFARM_WORKER_NAME="myworkername"
# whether to display debug-level logs
ZIMFARM_DEBUG=1
# the max amount of RAM you want your worker to use
ZIMFARM_MAX_RAM="1G"
# the max amount of disk you want your worker to use (/!\ not enforced)
ZIMFARM_DISK="1G"
# multiply by 3 the nb of concurrent zimfarm task you'd want to be able to run
ZIMFARM_CPU="3"
# zimfarm folder. will contain your private key and a data subfolder with all data
# place your RSA private key there as 'id_rsa'
ZIMFARM_ROOT=~/data/zimfarm/worker
# a comma-separated list of offliners to run or "" (all).
ZIMFARM_OFFLINERS="mwoffliner,sotoki,gutenberg,phet"
# if you want to run youtube task, you need to be whitelisted, contact us
# use the following to allow any task (including youtube)
# ZIMFARM_OFFLINERS=""
# whether to only run task specifically assigned to this worker. set to "y"
ZIMFARM_SELFISH="y"
# whether to use public (cloudfare, google) DNS instead of your host's. set to "y"
USE_PUBLIC_DNS=
