#!/bin/bash

### MANDATORY

# Zimfarm username
ZIMFARM_USERNAME="myusername"

# Zimfarm folder. You have to create it. Put your `id_rsa` private key
# directly at its root. Will be used as well for other Zimfarm
# temporary data.
ZIMFARM_ROOT=~/zimfarm

### OPTIONAL

# Worker name (your choice, can be different from the username)
ZIMFARM_WORKER_NAME="$ZIMFARM_USERNAME"

# Set to `"y"` if you need `sudo` for `docker` command (`""` otherwise)
SUDO_DOCKER=""

# Whether to display debug-level logs (`"y"` or `""`)
ZIMFARM_DEBUG="y"

# Maximum amount of RAM you want your worker to use
ZIMFARM_MAX_RAM="1G"

# Maximum amount of storage you want your worker to use (/!\ not
# enforced)
ZIMFARM_DISK="1G"

# Artificial number to configure the level of CPU load you want to
# allocate. Put `"3"` if you want to have around one task at a time,
# `"6"` if you want to have around two task in parallel, etc.
ZIMFARM_CPU="3"

# Comma-separated list of offliners to run or `""` for all of them. If
# you want to run `youtube` tasks, you need to be whitelisted, contact
# us.
ZIMFARM_OFFLINERS="mwoffliner,sotoki,gutenberg,phet"

# Set to `"y"` to only run task specifically assigned to this worker
# (`""` otherwise)
ZIMFARM_SELFISH="y"

# Set to `"y"` to use a public (Cloudfare, Google) DNS instead of your
# system (Internet provider) one. `""` otherwise.
USE_PUBLIC_DNS=""
