#!/bin/bash

### MANDATORY

# Zimfarm username
ZIMFARM_USERNAME="myusername"

# Zimfarm folder. You have to create it. Put your `id_rsa` private key
# directly at its root. Will be used as well for other Zimfarm
# temporary data.
ZIMFARM_ROOT=~/zimfarm

### OPTIONAL

# Worker name (your choice, can be different from the username)
ZIMFARM_WORKER_NAME="$ZIMFARM_USERNAME"

# Set to `"y"` if you need `sudo` for `docker` command (`""` otherwise)
SUDO_DOCKER=""

# Whether to display debug-level logs (`"y"` or `""`)
ZIMFARM_DEBUG="y"

# Maximum amount of RAM you want your worker to use
ZIMFARM_MAX_RAM="1GiB"

# Disk space you are dedicating to the worker. worker needs this space avail to work
# /!\ disk usage is not enforced (might exceed this limit)
ZIMFARM_DISK="1GiB"

# Artificial number to configure the level of CPU load you want to
# allocate. Put `"3"` if you want to have around one task at a time,
# `"6"` if you want to have around two task in parallel, etc.
ZIMFARM_CPU="3"

# Number of CPU/core to assign to each scraper. This is a hard limit.
# Leave it unset to allow as much CPU as available.
# Value of "1" means one core. "2" is two cores. ".5" means half a core
# ZIMFARM_TASK_CPUS="1"

# Which CPU/core scraper containers should use (use numbers from /proc/cpuinfo)
# Leave it unset to let docker spread resources itself.
# Seems to overide cpu-quota (ZIMFARM_TASK_CPUS). Doc is unclear.
# See https://docs.docker.com/config/containers/resource_constraints/#cpu
# ZIMFARM_TASK_CPUSET="0-3"

# Comma-separated list of offliners to run or `""` for all of them. If
# you want to run `youtube` tasks, you need to be whitelisted, contact
# us.
ZIMFARM_OFFLINERS="mwoffliner,sotoki,gutenberg,phet,nautilus,ted,openedx,zimit,kolibri,wikihow,ifixit"

# Set to `"y"` to only run task specifically assigned to this worker
# (`""` otherwise)
ZIMFARM_SELFISH="y"

# Set to `"y"` to use a public (Cloudfare, Google) DNS instead of your
# system (Internet provider) one. `""` otherwise.
USE_PUBLIC_DNS=""

# Set to `"y"` to disable IPv6 completely in zimfarm containers.
# might help with some online website or DNS servers
DISABLE_IPV6=""

# change default maximum nb of tasks for your worker over a specific platform
# PLATFORM_wikimedia_MAX_TASKS=2
# PLATFORM_youtube_MAX_TASKS=2
# PLATFORM_wikihow_MAX_TASKS=2
# PLATFORM_ifixit_MAX_TASKS=2
# PLATFORM_ted_MAX_TASKS=2
