mat-sidenav-container {
    width: 100%; 
    min-height: calc(100vh); 
    display: flex; 
}

/* @media (max-width: 560px) {
    .container {
        height: auto;
        flex-direction: column-reverse;
    }
} */

mat-sidenav {
    width: 300px;
}

mat-list {
    vertical-align:top;
}

mat-sidenav-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}

cdk-virtual-scroll-viewport {
    height: 100%;
}

task-list-item {
    height: 50px;
    display: flex;
    flex-direction: column;
}