mat-drawer-container {
    width: 100%; 
    height: calc(100vh - 54px); 
    margin-top: 54px;
    display: flex;
}

/* @media (max-width: 560px) {
    .container {
        height: auto;
        flex-direction: column-reverse;
    }
} */

mat-drawer {
    width: 300px;
}

mat-drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}