<!-- <div>Filters</div> -->
<div class="search">
    <input type="text" placeholder="Search by name">
</div>
<div>
    <div class="filter">
        <div class="title h4 semi-bold">Category</div>
        <div class="choices">
            <input type="checkbox" name="category" id="wikipedia" value="wikipedia">
            <label class="choice h4" for="wikipedia">Wikipedia</label><br>
            <input type="checkbox" name="category" id="phet" value="phet">
            <label class="choice h4" for="phet">Phet</label><br>
        </div>
    </div>
    <div class="filter">
        <div class="title h4 semi-bold">Queue</div>
        <div class="choices">
            <input type="checkbox" name="queue" id="large" value="large">
            <label class="choice h4" for="large">Large</label><br>
            <input type="checkbox" name="queue" id="medium" value="medium">
            <label class="choice h4" for="medium">Medium</label><br>
            <input type="checkbox" name="queue" id="small" value="small">
            <label class="choice h4" for="small">Small</label><br>
            <input type="checkbox" name="queue" id="tiny" value="tiny">
            <label class="choice h4" for="tiny">Tiny</label><br>
        </div>
    </div>
</div>