.search {
    display: flex;
    padding: 0.5rem;
}

.search input[type=text] {
    padding: 0.25rem;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    min-width: 0rem;
    flex: 1;
  }

.filter {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.title {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    color: #444444;
    background-color: #eeeeee;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.choices {
    padding: 0rem 0.5rem ;
}

.choice {
    margin: 0.25rem;
}