name: Backend Tests

on:
  pull_request:
    paths:
      - "backend/**"
  push:
    paths:
      - "backend/**"
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-24.04

    services:
      postgresdb:
        image: postgres:16.3-bookworm
        env:
          POSTGRES_DB: zimtest
          POSTGRES_PASSWORD: zimpass
          POSTGRES_PORT: 5432
          POSTGRES_USER: zimfarm
        ports:
          - 5432:5432
        # Set health checks to wait until postgresdb has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@localhost:5432/zimtest

    steps:
      - name: Retrieve source code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: backend/pyproject.toml
          architecture: x64

      - name: Install dependencies (and project)
        working-directory: backend
        run: |
          pip install -U pip
          pip install -e .[test,scripts,api]

      - name: Create extensions on the PostgreSQL database
        run: >-
          psql -c 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp";'
          "host=localhost port=5432 dbname=zimtest user=zimfarm password=zimpass"

      - name: Run Alembic Migrations
        working-directory: backend/src/zimfarm_backend
        run: alembic upgrade head

      - name: Build API Docker image
        working-directory: backend
        run: docker build -t zimfarm-backend:test -f api.Dockerfile .

      - name: Build background tasks Docker image
        working-directory: backend
        run: docker build -t zimfarm-background-tasks:test -f background-tasks.Dockerfile .

      - name: Run API container
        run: |
          docker run -d --name zimfarm-backend-test \
            -e POSTGRES_URI=$POSTGRES_URI \
            -p 8000:80 \
            zimfarm-backend:test
          # wait for container to be ready
          for i in {1..10}; do
            if curl -fsSL http://localhost:8000/v2/healthcheck > /dev/null; then
              echo "Backend is up!"
              break
            fi
            echo "Waiting for backend..."
            sleep 3
          done

      - name: Run background tasks container
        run: |
          docker run --rm --name zimfarm-background-tasks \
            -e POSTGRES_URI=$POSTGRES_URI \
            -e JWT_SECRET=DH8kSxcflUVfNRdkEiJJCn2dOOKI3qfw \
            -p 8000:80 \
            zimfarm-background-tasks:test background-tasks --help

      - name: Run tests
        working-directory: backend
        env:
          POSTGRES_URI: postgresql+psycopg://zimfarm:zimpass@localhost:5432/zimtest
          JWT_SECRET: DH8kSxcflUVfNRdkEiJJCn2dOOKI3qfw
        run: inv coverage --args "-vvv"

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v5
        with:
          directory: backend
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
